* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.text {
  font-family: "NotoSansKR-Black-Hestia";
}

@font-face {
  font-family: "NotoSansKR-Black-Hestia";
  src: url("./font/NotoSansKR-Black-Hestia.otf");
}
@font-face {
  font-family: "NotoSansKR-Bold-Hestia";
  src: url("./font/NotoSansKR-Bold-Hestia.otf");
}

@font-face {
  font-family: "NotoSansKR-DemiLight-Hestia";
  src: url("./font/NotoSansKR-DemiLight-Hestia.otf");
}
@font-face {
  font-family: "NotoSansKR-Light-Hestia";
  src: url("./font/NotoSansKR-Light-Hestia.otf");
}
@font-face {
  font-family: "NotoSansKR-Medium-Hestia";
  src: url("./font/NotoSansKR-Medium-Hestia.otf");
}
@font-face {
  font-family: "NotoSansKR-Regular-Hestia";
  src: url("./font/NotoSansKR-Regular-Hestia.otf");
}
@font-face {
  font-family: "NotoSansKR-Thin-Hestia";
  src: url("./font/NotoSansKR-Thin-Hestia.otf");
}
