.dataInput {
  position: absolute;
  width: 100%;
  height: 1114px;
  left: 0px;
  top: 6440px;
  background-color: #f4f5fd;
  overflow: visible;
}
#dataInput_background {
  fill: #f4f5fd !important;
}

.dataInput_background {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 1114px;
  left: 0px;
  top: 0px;
}
/* dataInput main-text */
#dataInput-text {
  width: 396px;
  height: 107px;
  font-size: 40px;
  position: absolute;
  left: 476px;
  top: 162px;
  font-family: "NotoSansKR-Bold-Hestia";
  text-align: center;
}

/* 업체명 */
.input_1 {
  position: absolute;
  top: 291px;
  left: 458px;
  width: 421px;
  height: 50px;
}
/* 지역명 */
.input_2 {
  position: absolute;
  top: 355px;
  left: 458px;
  width: 421px;
  height: 50px;
}
/* 담당자 이름 */
.input_3 {
  position: absolute;
  top: 419px;
  left: 458px;
  width: 421px;
  height: 50px;
}
/* 연락처 */
.input_4 {
  position: absolute;
  top: 483px;
  left: 458px;
  width: 421px;
  height: 50px;
}
/* 문의 내용 */
.input_5 {
  position: absolute;
  top: 611px;
  left: 458px;
  word-break: break-word;
  display: inline-block;
  width: 421px;
  height: 50px;
}
/* 이메일 */
.input_6 {
  position: absolute;
  top: 547px;
  left: 458px;
  width: 421px;
  height: 50px;
}
/* 개인정보수집 */
.input_7 {
  position: absolute;
  top: 846px;
  left: 460px;
  width: 421px;
  height: 50px;
}
.dataInput input {
  border: 1px solid #dbdbdb;
  text-indent: 19px;
  font-size: 16px;
}
.dataInput textarea {
  border: 1px solid #dbdbdb;
  text-indent: 19px;
  font-size: 16px;
}

.dataInput input:focus {
  outline: none;
}
.dataInput input::placeholder {
  color: #bfbfbf;
  position: absolute;
  font-family: "NotoSansKR-Light-Hestia";
  letter-spacing: 0px;
  text-align: left;
  opacity: 1;
}

.dataInput textarea::placeholder {
  color: #bfbfbf;
  position: absolute;
  font-family: "NotoSansKR-Light-Hestia";
  letter-spacing: 0px;
  text-align: left;
  opacity: 1;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputSubmit {
  text-align: center;
  border-radius: 33px;
  background: #4c64f2 !important;
}
.inputSubmit:hover {
  background-color: #445ad9 !important;
  transition: all 0.3s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
.inputSubmit-text {
  font-family: "NotoSansKR-Medium-Hestia";
  font-size: 18px;
  position: absolute;
  letter-spacing: 0px;
  font-weight: medium;
  width: 70px;
  height: 28px;
  color: #ffffff;
  left: 176px;
  top: 15px;
}

.invalid-feedback {
  font-family: "NotoSansKR-Light-Hestia";
  font-size: 13px !important;
  position: absolute;
  top: 42px;
}

.input_17 {
  position: absolute;
  top: 100px;
  width: 900px;
  height: 900px;
}

.form-check-input {
  position: absolute !important;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  left: 0px !important;
  top: 2px !important;
}

input[type="checkbox"] {
  position: absolute !important;
  width: 20px;
  height: 20px;
  left: 20px !important;
  top: -1px !important;
}

.form-control:valid {
  background-image: none !important;
}

.input_privacy {
  font-family: "NotoSansKR-Light-Hestia";
  color: #6f767e;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 421px;
  left: 27px;
  letter-spacing: -0.3px;
}

#privacy_text {
  cursor: pointer;
  left: 0px;
  top: 846px;
  overflow: visible;
  width: 370px;
  white-space: nowrap;
  font-family: "NotoSansKR-Medium-Hestia";
  line-height: 10px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6f767e;
  letter-spacing: -0.3px;
  text-decoration: underline;
}

.checkbox_feedback {
  color: #dc3545;
  visibility: hidden;
  font-size: 13px;
  font-family: "NotoSansKR-Light-Hestia";
  position: absolute;
  top: 23px;
}
/* 개인정보 수집 체크여부에 따른 추가 클래스 */
.visi {
  visibility: visible;
}
