.footer {
  position: absolute;
  width: 100%;
  height: 319px;
  left: 0px;
  top: 8138px;
  overflow: visible;
  background-color: #091627;
  border: none;
  outline-style: none;
}
/* footer 배경색 */
#bg_dark {
  fill: #091627;
  border: none;
  outline-style: none;
}
.bg_dark {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 319px;
  left: 0px;
  top: 0px;
  border: none;
  outline-style: none;
}
#footer {
  position: absolute;
  width: 1194px;
  height: 179.335px;
  left: 0px;
  top: 70px;
  overflow: visible;
}
/* 고객센터 */
#as {
  left: 1206px;
  top: 66px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -9.5px;
  text-align: right;
  font-family: "NotoSansKR-Medium-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}
/* 02-491-1510  */
#ID02-491-1510 {
  left: 1096px;
  top: 89.335px;
  position: absolute;
  overflow: visible;
  width: 170px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -21px;
  text-align: right;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
}
/*9:00 ~ 18:00 (주말&공휴일 제외)  */
#ID900__1800__ {
  left: 1087px;
  top: 133.335px;
  position: absolute;
  overflow: visible;
  width: 179px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -21.5px;
  text-align: right;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #738295;
}

#__________744-42-00513_____315 {
  left: 71px;
  top: 112.335px;
  position: absolute;
  overflow: visible;
  width: 658px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -4px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #738295;
}
#Copyright__Connect_Brick_Inc_A {
  left: 71px;
  top: 160.335px;
  position: absolute;
  overflow: visible;
  width: 308px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -4px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #3d4958;
}
/* 커넥트브릭 서비스 */
#_ {
  left: 71px;
  top: 66.335px;
  position: absolute;
  overflow: visible;
  width: 100px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -4px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}
/* 이용약관 */
#_ba {
  left: 215px;
  top: 66px;
  position: absolute;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -4px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}
/* 개인정보처리방침 */
#_bb {
  left: 316px;
  top: 66.335px;
  position: absolute;
  overflow: visible;
  width: 97px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -4px;
  text-align: left;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}
#logo_cnt_gray1 {
  position: absolute;
  width: 205.367px;
  height: 28.383px;
  left: 71px;
  top: 0px;
  overflow: visible;
  cursor: pointer;
}
#_8064 {
  position: absolute;
  width: 33.628px;
  height: 28.38px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#_62201 {
  fill: #738295;
}
._62201 {
  overflow: visible;
  position: absolute;
  width: 28.027px;
  height: 16.286px;
  left: 5.602px;
  top: 12.094px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62211 {
  fill: #738295;
}
._62211 {
  overflow: visible;
  position: absolute;
  width: 33.628px;
  height: 28.38px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62221 {
  fill: #738295;
}
._62221 {
  overflow: visible;
  position: absolute;
  width: 6.228px;
  height: 6.228px;
  left: 16.501px;
  top: 10.115px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62231 {
  fill: #738295;
}
._62231 {
  overflow: visible;
  position: absolute;
  width: 6.229px;
  height: 6.23px;
  left: 11.287px;
  top: 17.128px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_8067 {
  position: absolute;
  width: 166.465px;
  height: 21.452px;
  left: 38.902px;
  top: 6.931px;
  overflow: visible;
}
#_62241 {
  fill: #738295;
}
._62241 {
  overflow: visible;
  position: absolute;
  width: 19.7px;
  height: 21.452px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62251 {
  fill: #738295;
}
._62251 {
  overflow: visible;
  position: absolute;
  width: 14.893px;
  height: 14.892px;
  left: 21.411px;
  top: 6.545px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62261 {
  fill: #738295;
}
._62261 {
  overflow: visible;
  position: absolute;
  width: 14.169px;
  height: 14.892px;
  left: 65.79px;
  top: 6.545px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62271 {
  fill: #738295;
}
._62271 {
  overflow: visible;
  position: absolute;
  width: 13.412px;
  height: 14.892px;
  left: 81.163px;
  top: 6.545px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62281 {
  fill: #738295;
}
._62281 {
  overflow: visible;
  position: absolute;
  width: 12.267px;
  height: 21.407px;
  left: 110.217px;
  top: 0.029px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_80651 {
  position: absolute;
  width: 2.555px;
  height: 14.549px;
  left: 134.802px;
  top: 6.888px;
  overflow: visible;
}
#_60211 {
  fill: #738295;
}
._60211 {
  position: absolute;
  overflow: visible;
  width: 2.555px;
  height: 14.549px;
  left: 0px;
  top: 0px;
}
#_62291 {
  fill: #738295;
}
._62291 {
  overflow: visible;
  position: absolute;
  width: 13.411px;
  height: 14.892px;
  left: 139.565px;
  top: 6.545px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62301 {
  fill: #738295;
}
._62301 {
  overflow: visible;
  position: absolute;
  width: 11.28px;
  height: 19.876px;
  left: 155.185px;
  top: 1.56px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62311 {
  fill: #738295;
}
._62311 {
  overflow: visible;
  position: absolute;
  width: 11.421px;
  height: 14.548px;
  left: 38.529px;
  top: 6.889px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62321 {
  fill: #738295;
}
._62321 {
  overflow: visible;
  position: absolute;
  width: 7.901px;
  height: 14.548px;
  left: 124.692px;
  top: 6.889px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_62331 {
  fill: #738295;
}
._62331 {
  overflow: visible;
  position: absolute;
  width: 11.421px;
  height: 14.548px;
  left: 52.159px;
  top: 6.889px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_80661 {
  position: absolute;
  width: 8.313px;
  height: 18.374px;
  left: 95.779px;
  top: 3.063px;
  overflow: visible;
}
#_62341 {
  fill: #738295;
}
._62341 {
  overflow: visible;
  position: absolute;
  width: 8.313px;
  height: 18.374px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#_171 {
  fill: #738295;
}
._171 {
  position: absolute;
  overflow: visible;
  width: 3.564px;
  height: 3.564px;
  left: 134.297px;
  top: 1.561px;
}
