/* header css */
.header {
  width: 100%;
  height: 80px;
  background-color: #f4f5fd;
  position: fixed;
  z-index: 999;
}
#header_1 {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#bg_header {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
/* header 배경 */
#bg_header_fi {
  fill: #f4f5fd;
  -webkit-transition: width 0.5s, height 0.5s, background-color 0.5s,
    -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
  width: 100%;
  height: 80;
}
.bg_header_fi {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
}
/* 회원가입 */
#_f {
  left: 1017px;
  top: 28px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: right;
  font-family: "NotoSansKR-Medium-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  letter-spacing: -0.2px;
}
/* 로그인 */
#_fk {
  left: 934px;
  top: 28px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: right;
  font-family: "NotoSansKR-Medium-Hestia";
  font-style: normal;
  font-weight: normal;
  text-align: right;
  letter-spacing: -0.32px;
  font-size: 16px;
  color: #000000;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
/* 파트너 신청하기 */
#_partner {
  fill: #4c64f2;
}
#_partner span {
  position: absolute;
  left: 26px;
  top: 12px;
  overflow: visible;
  width: 100px;
  font-size: 15px;
  letter-spacing: -0.3px;
  text-align: right;
  white-space: nowrap;
  font-family: "NotoSansKR-Medium-Hestia";
  color: #ffffff;
}
/* ConnectBrick 로고 */
.logo_cnt_blue {
  position: absolute;
  left: 71px;
  top: 21px;
  cursor: pointer;
  width: 201px;
  height: 38px;
}
.b_partner {
  position: absolute;
  width: 152px;
  height: 46px;
  background-color: #4c64f2;
  left: 1114px;
  top: 17px;
  overflow: visible;
  border: 0;
  outline: 0;
  border-radius: 22px 22px;
}
/* 파트너 신청하기 hover */
.b_partner:hover {
  cursor: pointer;
  background-color: #445ad9;
}
#_partner:hover {
  background-color: #445ad9;
  cursor: pointer;
}
#__f {
  left: 12px;
  top: 12px;
  position: absolute;
  overflow: visible;
  width: 99px;
  white-space: nowrap;
  text-align: right;
  font-family: Noto Sans KR, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: -0.32px;
}
