.main {
  width: 100%;
  height: 716px;
  top: 80px;
  position: absolute;
  background-color: #f2f4fd;
  background: transparent linear-gradient(180deg, #f4f5fd 0%, #eff1fa 100%) 0%
    0% no-repeat padding-box;
}
/* svg 클래스에 linear gradient 적용 */
#bg_banner_u {
  fill: url(#bg_banner_u);
}
#bg_main_banner {
  fill: #f2f4fd;
  fill: url(#bg_banner_u);
}
/* main 배경 */
.bg_main_banner {
  position: absolute;
  overflow: visible;
  width: 1366px;
  background-color: #f2f4fd;
  height: 716px;
  left: 0px;
}
.container {
  max-width: 1366px !important;
}
/* main text */
#___3___ {
  left: 71px;
  top: 145px;
  position: absolute;
  overflow: visible;
  width: 459px;
  white-space: nowrap;
  line-height: 63px;
  margin-top: -7.5px;
  text-align: left;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #091627;
  letter-spacing: -0.96px;
}
/* main sub text */
#_______________ {
  left: 71px;
  top: 360px;
  position: absolute;
  overflow: visible;
  width: 424px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -6.5px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #6f767e;
  letter-spacing: -0.36px;
}
/* mainbanner image */
.mainbanner-icon {
  position: absolute;
  width: 784px;
  height: 580px;
  left: 565px;
  top: 49px;
}
/* 커넥트브릭 서비스 이용하기 버튼 */
.b_website_se {
  position: absolute;
  width: 292px;
  height: 58px;
  left: 71px;
  top: 488px;
  overflow: visible;
  background-color: #4c64f2;
  border-radius: 30px 30px;
}
.b_website_service {
  position: absolute;
  left: 39px;
  top: 15px;
  overflow: visible;
  width: 215px;
  white-space: nowrap;
  text-align: center;
  font-family: "NotoSansKR-Medium-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: -0.38px;
}
.b_website_se:hover {
  background-color: #445ad9;
  cursor: pointer;
}
.b_website_service:hover {
  background-color: #445ad9;
  cursor: pointer;
}
