.PartnerSection {
  position: absolute;
  width: 100%;
  height: 1469px;
  left: 0px;
  top: 4971px;
  overflow: visible;
  background: #4c64f2 0% 0% no-repeat padding-box;
}
/* partnerSection 배경색 */
#bg_pblue {
  fill: #4c64f2;
}
.bg_pblue {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 1469px;
  left: 0px;
  top: 0px;
}
/* partnerSection main-text */
#__my {
  left: 461px;
  top: 130px;
  position: absolute;
  overflow: visible;
  width: 341px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -8px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: -0.8px;
}
/* partnerSection sub-text */
#________________mx {
  left: 390px;
  top: 210px;
  position: absolute;
  overflow: visible;
  width: 557px;
  white-space: nowrap;
  line-height: 27px;
  margin-top: -5px;
  text-align: center;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(213, 215, 255, 1);
  letter-spacing: -0.2px;
}
.partnerSec_img {
  position: absolute;
  width: 522px;
  height: 258px;
  top: 304px;
  left: 407px;
}
.partner_logo1 {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 173px;
  top: 656px;
}
.partner_logo2 {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 173px;
  top: 835px;
}
.partner_logo3 {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 173px;
  top: 1012px;
}
.partner_logo4 {
  position: absolute;
  top: 1191px;
  width: 29px;
  height: 29px;
  left: 173px;
}
#_____m {
  left: 218px;
  top: 659px;
  position: absolute;
  overflow: visible;
  width: 197px;
  height: 31px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -17.5px;
  text-align: left;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.42px;
}
#___m {
  left: 218px;
  top: 837px;
  position: absolute;
  overflow: visible;
  width: 141px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -17.5px;
  text-align: left;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.42px;
}
#___na {
  left: 218px;
  top: 1015px;
  position: absolute;
  overflow: visible;
  width: 175 px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -17.5px;
  text-align: left;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.42px;
}
#____m {
  left: 218px;
  top: 1193px;
  position: absolute;
  overflow: visible;
  width: 202px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -17.5px;
  text-align: left;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.42px;
}
#____________m {
  left: 173px;
  top: 705px;
  position: absolute;
  overflow: visible;
  width: 311px;
  height: 80px;
  white-space: nowrap;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(213, 215, 255, 1);
}
#____________na {
  left: 173px;
  top: 883px;
  position: absolute;
  overflow: visible;
  width: 311px;
  height: 80px;

  white-space: nowrap;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(213, 215, 255, 1);
}
#____________nb {
  left: 173px;
  top: 1061px;
  position: absolute;
  overflow: visible;
  width: 311px;
  height: 80px;

  white-space: nowrap;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(213, 215, 255, 1);
}
#____________nc {
  left: 173px;
  top: 1239px;
  position: absolute;
  overflow: visible;
  width: 311px;
  height: 80px;
  white-space: nowrap;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(213, 215, 255, 1);
}
.partner_main_img {
  position: absolute;
  width: 592px;
  height: 737px;
  top: 635px;
  left: 626px;
}
