.section4 {
  position: absolute;
  width: 100%;
  height: 894px;
  left: 0px;
  top: 3404px;
  overflow: visible;
  background-color: #f4f5fd;
}
/* section4 배경 */
#bg_white {
  fill: #f4f5fd;
}
.bg_white {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 894px;
  left: 0px;
  top: 0px;
}
/* section4 main-text */
#_____1 {
  left: 354px;
  top: 130px;
  position: absolute;
  overflow: visible;
  width: 628px;
  height: 59px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -8px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  letter-spacing: -0.8px;
}
/* section4 sub-text */
#section_4_1 {
  position: absolute;
  top: 210px;
  width: 435px;
  height: 52px;
  line-height: 27px;
  left: 445px;
  font-size: 17px;
  font-weight: normal;
  font-family: "NotoSansKR-Regular-Hestia";
  text-align: center;
  color: #6f767e;
  letter-spacing: -0.34px;
}
/* 거실 */
.living-text {
  position: absolute;
  overflow: visible;
  left: 21px;
  top: 3px;
  width: 25px;
  height: 22px;
  white-space: nowrap;
  font-family: "NotoSansKR-Medium-Hestia";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: -0.26px;
}
/* 침실 */
.bedroom-text {
  position: absolute;
  overflow: visible;
  left: 21px;
  top: 3px;
  width: 25px;
  height: 19px;
  white-space: nowrap;
  font-family: "NotoSansKR-Medium-Hestia";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: -0.26px;
}
/* 욕실 */
.bath-text {
  position: absolute;
  overflow: visible;
  left: 21px;
  top: 3px;
  width: 25px;
  height: 19px;
  white-space: nowrap;
  font-family: "NotoSansKR-Medium-Hestia";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: -0.26px;
}

#living {
  position: absolute;
  width: 66px;
  height: 26px;
  border-radius: 18px;
  top: 325px;
  left: 336px;
  background-color: #4c64f2;
}
#bedroom {
  position: absolute;
  width: 66px;
  height: 26px;
  border-radius: 18px;
  top: 325px;
  left: 635px;
  background-color: #4c64f2;
}
#bath {
  position: absolute;
  width: 66px;
  height: 26px;
  border-radius: 18px;
  top: 325px;
  left: 935px;
  background-color: #4c64f2;
}
/* 안쪽 박스 linear-gradient 적용, 
animation 화면 넘치는것 안보이게 overflow hidden적용
*/
.background {
  position: absolute;
  width: 990px;
  height: 519px;
  border-radius: 58px 58px 0px 0px;
  background: transparent
    linear-gradient(180deg, #e1e3ef 0%, #eaecf7 32%, #eaecf7 100%) 0% 0%
    no-repeat padding-box;
  top: 375px;
  left: 173px;
  overflow: hidden;
}
.inner-card {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 4000px;
}
/* 거실 animation */
.section4_11 {
  position: absolute;
  width: 292px;
  left: 50px;
  animation: App-logo-spin 50s infinite linear;
}
.section4_12 {
  position: absolute;
  width: 292px;
  left: 50px;
  animation: App-logo-spin1 50s infinite linear;
}
/* 침실 애니메이션 */
.section4_21 {
  position: absolute;
  width: 292px;
  left: 349px;
  animation: App-logo-spin 35s infinite linear;
}
.section4_22 {
  position: absolute;
  width: 292px;
  left: 349px;
  animation: App-logo-spin1 35s infinite linear;
}
/* 욕실 애니메이션 */
.section4_31 {
  position: absolute;
  width: 292px;
  left: 649px;
  animation: App-logo-spin 50s infinite linear;
}
.section4_32 {
  position: absolute;
  width: 292px;
  left: 649px;
  animation: App-logo-spin1 50s infinite linear;
}
/* 애니메이션 효과적용 위한 keyframe*/
@keyframes App-logo-spin {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -3850px, 0);
    opacity: 1;
  }
}
@keyframes App-logo-spin1 {
  0% {
    transform: translate3d(0, 3850px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
  }
}
.sec4Card {
  width: 292px;
  height: 552px;
}
