.section3 {
  position: absolute;
  width: 100%;
  height: 894px;
  left: 0px;
  top: 2510px;
  background-color: #ffffff;
}
/* section3 배경 */
#bg_gray_ba {
  fill: #ffffff;
}
.bg_gray_ba {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 894px;
  left: 0px;
  top: 0px;
}
/* section3 main-text */
#______bc {
  left: 399px;
  top: 130px;
  position: absolute;
  overflow: visible;
  width: 539px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -8px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #091627;
  letter-spacing: -0.8px;
}
/* section3 sub-text */
#______________NO_bb {
  left: 422px;
  top: 210px;
  position: absolute;
  overflow: visible;
  width: 493px;
  white-space: nowrap;
  line-height: 27px;
  margin-top: -5px;
  text-align: center;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #6f767e;
  letter-spacing: -0.34px;
}
/* section3 card-image */
.image_detail {
  position: absolute;
  width: 1035px;
  height: 487px;
  top: 310px;
  left: 151px;
}
