.section1 {
  position: absolute;
  width: 100%;
  height: 820px;
  top: 796px;
  background-color: #ffffff;
}
/* 가운데 라인1 */
#line_eqw {
  fill: transparent;
  stroke: #e8edf6;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  z-index: 2;
}
.line_eqw {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 297.46px;
  left: 486px;
  top: 375.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 2;
}
/* 가운데 라인2 */
#line_eq {
  fill: transparent;
  stroke: #e8edf6;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  z-index: 2;
}
.line_eq {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 297.46px;
  left: 850.5px;
  top: 375.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 2;
}
/* 배경 svg클래스 */
#bg_darkgray_e {
  fill: white;
}
.bg_darkgray_e {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 820px;
  left: 0px;
  top: 0px;
}

/* section1 main-text */
#______3_ {
  left: 424px;
  top: 110px;
  position: absolute;
  overflow: visible;
  width: 503px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -8px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #091627;
  letter-spacing: -0.8px;
}
/* section1 sub-text */
#___________e {
  left: 378px;
  top: 246px;
  position: absolute;
  overflow: visible;
  width: 586px;
  white-space: nowrap;
  line-height: 27px;
  margin-top: -5px;
  text-align: center;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #6f767e;
  letter-spacing: -0.34px;
}
#___e {
  left: 170px;
  top: 548px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  line-height: 26px;
  margin-top: -2.5px;
  text-align: left;
  font-style: normal;
  font-family: "NotoSansKR-Bold-Hestia";
  font-size: 21px;
  color: #091627;
  letter-spacing: -0.42px;
}
#_____________e {
  left: 170px;
  top: 591px;
  position: absolute;
  overflow: visible;
  width: 263px;
  height: 109px;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6f767e;
  letter-spacing: -0.32px;
}
#___ex {
  left: 534px;
  top: 548px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  line-height: 26px;
  margin-top: -2.5px;
  text-align: left;
  font-style: normal;
  font-family: "NotoSansKR-Bold-Hestia";
  font-size: 21px;
  color: #091627;
  letter-spacing: -0.42px;
}
#__________ {
  left: 534px;
  top: 591px;
  position: absolute;
  overflow: visible;
  width: 266px;
  height: 109px;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6f767e;
  letter-spacing: -0.32px;
}
#___es {
  left: 898px;
  top: 548px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  line-height: 26px;
  margin-top: -2.5px;
  text-align: left;
  font-style: normal;
  font-family: "NotoSansKR-Bold-Hestia";
  font-size: 21px;
  color: #091627;
  letter-spacing: -0.42px;
}
#____________ {
  left: 898px;
  top: 591px;
  position: absolute;
  overflow: visible;
  width: 268px;
  height: 109px;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6f767e;
  letter-spacing: -0.32px;
}
/* section1 icon */
.icon_sec1_1 {
  position: absolute;
  left: 170px;
  width: 268px;
  height: 153px;
  top: 367px;
}
.icon_sec1_2 {
  position: absolute;
  left: 534px;
  width: 268px;
  height: 153px;
  top: 367px;
}
.icon_sec1_3 {
  position: absolute;
  left: 898px;
  width: 268px;
  height: 153px;
  top: 367px;
}
