.section5 {
  position: absolute;
  width: 100%;
  height: 674px;
  left: 0px;
  top: 4298px;
  overflow: visible;
  background-color: #273240;
  border: none;
}
/* section5 배경색 */
#bg5_darkgray {
  fill: #273240;
}
.bg5_darkgray {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 673px;
  left: 0px;
  top: 0px;
}
/* section5 main-text */
#___c {
  left: 443px;
  top: 130px;
  position: absolute;
  overflow: visible;
  width: 451px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -8px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: -0.8px;
}
/* section5 icon */
.icon_step1 {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 279px;
  left: 173px;
}
.icon_step2 {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 279px;
  left: 387px;
}
.icon_step3 {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 279px;
  left: 602px;
}
.icon_step4 {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 279px;
  left: 817px;
}
.icon_step5 {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 279px;
  left: 1031px;
}
/* 서비스 주문 */
#__da {
  left: 184px;
  top: 441px;
  position: absolute;
  overflow: visible;
  width: 111px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -3px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: -0.38px;
}
/* 무료 견적 */
#__db {
  left: 407px;
  top: 441px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -3px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: -0.38px;
}
/* 승인 결제 */
#_dc {
  left: 618px;
  top: 441px;
  position: absolute;
  overflow: visible;
  width: 101px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -3px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: -0.38px;
}
/* 자재 배송 */
#__dd {
  left: 836px;
  top: 441px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -3px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: -0.38px;
}
/* 시공 시작 */
#__de {
  left: 1050px;
  top: 441px;
  position: absolute;
  overflow: visible;
  width: 95px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -3px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  letter-spacing: -0.38px;
}
/* 화살표 */
.arrow1 {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 332px;
  left: 333px;
}
.arrow2 {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 332px;
  left: 547px;
}
.arrow3 {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 332px;
  left: 762px;
}
.arrow4 {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 332px;
  left: 977px;
}
/* 서비스 주문 하위텍스트 */
#_____ {
  left: 152px;
  top: 484px;
  position: absolute;
  overflow: visible;
  width: 175px;
  height: 74px;
  line-height: 26px;
  margin-top: -5.5px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #7286a0;
  letter-spacing: -0.3px;
}
/* 무료견적 하위텍스트 */
#____ {
  left: 366px;
  top: 484px;
  position: absolute;
  overflow: visible;
  width: 175px;
  height: 74px;
  line-height: 26px;
  margin-top: -5.5px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #7286a0;
  letter-spacing: -0.3px;
}
/* 승인 결제 하위텍스트 */
#______ {
  left: 581px;
  top: 484px;
  position: absolute;
  overflow: visible;
  width: 175px;
  height: 74px;
  line-height: 26px;
  margin-top: -5.5px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #7286a0;
  letter-spacing: -0.3px;
}
/* 자재 배송 하위텍스트 */
#_____cm {
  left: 796px;
  top: 484px;
  position: absolute;
  overflow: visible;
  width: 175px;
  height: 74px;
  line-height: 26px;
  margin-top: -5.5px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #7286a0;
  letter-spacing: -0.3px;
}
/* 시공 시작 하위텍스트 */
#_____cn {
  left: 1010px;
  top: 484px;
  position: absolute;
  overflow: visible;
  width: 175px;
  height: 74px;
  line-height: 26px;
  margin-top: -5.5px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #7286a0;
  letter-spacing: -0.3px;
}
