.section2 {
  width: 100%;
  height: 894px;
  top: 1616px;
  position: absolute;
  background-color: #f4f5fd;
  overflow: visible;
}
#bg_white_c {
  fill: #f4f5fd;
}
.bg_white_c {
  position: absolute;
  overflow: visible;
  width: 1366px;
  height: 894px;
  left: 0px;
  top: 0px;
}
/* section2 main-text */
#_____c {
  left: 381px;
  top: 130px;
  position: absolute;
  overflow: visible;
  width: 575px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -8px;
  text-align: center;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #091627;
  letter-spacing: -0.8px;
}
/* section2 sub-text */
#_________________ {
  left: 441px;
  top: 210px;
  position: absolute;
  overflow: visible;
  width: 455px;
  white-space: nowrap;
  line-height: 28px;
  margin-top: -5.5px;
  text-align: center;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #6f767e;
  letter-spacing: -0.34px;
}

/* center card fade 잔상효과 막기위해 밑에 까는 card */
.main-card {
  position: absolute;
  top: 352px;
  left: 520px;
  width: 296px;
  height: 392px;
  opacity: 1;
  z-index: 2 !important;
}
/* single slider (center에 위치하는 card) */
.main-card2 {
  position: absolute;
  top: 352px;
  left: 520px;
  width: 296px;
  height: 392px;
  opacity: 1;
  z-index: 2 !important;
}

.main-card .slick-slider .slick-list {
  width: 266px;
  height: 362px;
}

/*  multiple slider, linear gradient 효과적용 왼쪽 */
.main-slider .slick-slider::before {
  left: 0px;
  content: "";
  position: absolute;
  top: 0px;
  display: block;
  width: 25px;
  height: 251px;
  z-index: 10;
  background: linear-gradient(
    90deg,
    #f4f5fd,
    #f4f5fd,
    #f4f5fd 40%,
    hsla(0, 0%, 100%, 0)
  );
}
/*  multiple slider, linear gradient 효과적용 오른쪽 */
.main-slider .slick-slider::after {
  background: linear-gradient(
    270deg,
    #f4f5fd,
    #f4f5fd,
    #f4f5fd 40%,
    hsla(0, 0%, 100%, 0)
  );
  right: 0px;
  content: "";
  position: absolute;
  top: 0px;
  display: block;
  width: 25px;
  height: 251px;
  z-index: 10;
}
.main-slider {
  position: absolute;
  left: 71px;
  top: 412px;
  width: 1194px;
  height: 405px;
}
.main-slider .slick-slide {
  position: relative;
  left: 110px;
}

.slideImg {
  width: 187px;
  height: 251px;
}
