.section6 {
  position: absolute;
  width: 100%;
  height: 585px;
  left: 0px;
  top: 7555px;
  overflow: visible;
  background-color: #273240;
  border: none;
}
#bg_darkgray {
  fill: #273240;
  border: none;
}
.bg_darkgray {
  position: absolute;
  overflow: visible;
  width: 1366px;
  border: none;
  height: 585px;
  left: 0px;
  top: 0px;
}
#_8733 {
  position: absolute;
  width: 489px;
  height: 215px;
  left: 71px;
  top: 184.154px;
  overflow: visible;
}
#_______Master________WMSWareho {
  left: 0px;
  top: 136px;
  position: absolute;
  overflow: visible;
  width: 490px;
  white-space: nowrap;
  line-height: 27px;
  margin-top: -5px;
  text-align: left;
  font-family: "NotoSansKR-Regular-Hestia";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #ffffff;
}
#Connect_Brick_Orbit_Analysis {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 276px;
  white-space: nowrap;
  line-height: 56px;
  margin-top: -8px;
  text-align: left;
  font-family: "NotoSansKR-Bold-Hestia";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}
.section6_img {
  position: absolute;
  width: 704px;
  height: 544px;
  left: 633px;
  overflow: hidden;
  top: 40px;
}
